html
    head
        title='Anna Lee'
        link(rel="stylesheet" href="style.css")
    body
        #facepage.about
            each x in bout
                img(src=x.url)
                h1=x.name
                h2=x.title
                p1=x.phone
                p2=x.fax
                p3=x.email
        #listing.list
            p4 My Listings
            p5 I Offer the Best
            table
                each val in Lists
                    tr
                        td
                            img(src=val.url)
                        td
                            h3=val.title
                            #pricebox.dollar
                                p6=val.price
                            p7=val.description
        #services
            h3 SERVICES
            each y in service
                tr
                    td
                        img(src=y.url)
                        p6=y.descript
        #lastest
            h4 LATEST PROPERTIES
            each z in Lists
                tr
                    td
                        img(src=z.url)
                        br
                        p7=z.title
                        p8=z.price
        #testimony
            h5 TESTIMONIALS
            each t in test
                tr
                    td
                        img(src=t.url)
                        p9=t.testimony
                        p10=t.name
                br
        #contact
            h6 CONTACTS
            each r in bout
                p11=r.address
                br
                p12=r.phone
                p13=r.fax
                p14=r.email
                br
                img(src=r.facebook)
                img(src=r.twitter)
                img(src=r.skype)
        #disclaimer
            each r in bout
                p15=r.disclaimer
                br
                p16=r.unsubscribe
                br
                p17=r.copyright