html
    head
        title='Anna Lee'
        link(rel="stylesheet" href="style.css")
    body
        #facepage.about
                img(src=bout.url)
                h1=bout.name
                h2=bout.title
                p1=bout.phone
                p2=bout.fax
                p3=bout.email
        #listing.list
            p4 My Listings
            p5 I Offer the Best
            table
                each val in Lists
                    tr
                        td
                            img(src=val.url)
                        td
                            h3=val.title
                            #pricebox.dollar
                                p6=val.price
                            p7=val.description
        #services
            h3 SERVICES
            each y in service
                tr
                    td
                        img(src=y.url)
                        p6=y.descript
        #lastest
            h4 LATEST PROPERTIES
            each z in Lists
                tr
                    td
                        img(src=z.url)
                        br
                        p7=z.title
                        p8=z.price
        #testimony
            h5 TESTIMONIALS
            each t in test
                tr
                    td
                        img(src=t.url)
                        p9=t.testimony
                        p10=t.name
                br
        #contact
            h6 CONTACTS
                p11=bout.address
                br
                p12=bout.phone
                p13=bout.fax
                p14=bout.email
                br
                img(src=bout.facebook)
                img(src=bout.twitter)
                img(src=bout.skype)
        #disclaimer
                p15=bout.disclaimer
                br
                p16=bout.unsubscribe
                br
                p17=bout.copyright