extends admin.jade


block content
  form(method="GET", action="/listings")
    br
    p enter title of listing to search
    input(type="text" name="title" value=filters.title)
    br
    p enter description of listing to search
    input(type="text" name="description" value=filters.description)
    br
    p enter price of listing to search
    input(type="text" name="price" value=filters.price)
    p enter number of bedrooms
    input(type="text" name="nBed" value=filters.nBed)
    p enter number of bathrooms
    input(type="text" name="nBath" value=filters.nBath)
    p enter number of car space
    input(type="text" name="nCar" value=filters.nCar)
    br
    input(type="submit" value="submit")
  hr
  a(href="/listing/new") Add new
  table(border=1)
    tr
      th photo
      th title
      th price
      th description
      th numbers
      th action
    each l in Lists
      tr
        td
          img(src=l.primary_photo style="width: 100px")
        td= l.title
        td= l.price
        td= l.description
        td= l.nBed, l.nBath, l,nCar
        td
          a(href="/listing/edit/#{l._id}") Edit

  a(href="/") click here to redirect to root

