html
    head
        title='edit data'
    body
        form(method="POST" action="/listing/save")
            input(type="hidden" name="_id" value=list._id)
            p Please enter listing title:
            input(type="text" name='title' value=list.title)
            p Please enter price in dollar:
            input(type="text" name='price' value=list.price)
            p Please enter listing description:
            input(type="text" name='description' value=list.description)
            p Please enter Primary photo url:
            input(type="text" name="primary_photo" value=list.primary_photo)
            p Please enter number of bedroom:
            input(type="text" name='nBed' value=list.nBed)
            p Please enter number of bathroom:
            input(type="text" name='nBath' value=list.nBath)
            p Please enter number of car space:
            input(type="text" name='nCar' value=list.nCar)

            input(type="submit" value="submit")
        a(href="/seeList") click here to see listings
